;;;
"title": "Missing Page"
;;;
<div id="wrap">
  <div class="page-header">
    <h1>Missing Page <small>You Should Not Be Here</small></h1>
  </div>
  <div class="well" id="viewport">
    <h2><a href="/">Play the Game</a></h2>
  </div>
</div>
<div id="footer">
  <div class="container center-block">
    <p class="text-muted" style="text-align:center;">(looks like someone typed a random URL)</p>
  </div>
</div>
